[submodule "lib/pico-ice-sdk"]
	path = lib/pico-ice-sdk
	url = https://github.com/tinyvision-ai-inc/pico-ice-sdk
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
